{
    "env": {
        "test": {
            "plugins": [
                ["__coverage__", {
                    "ignore": ["*.spec.js", "node_modules/*"]
                }]
            ]
        }
    }
}
